<nav class="navbar navbar-ligth bg-primary"> <!--bg primary define a cor da minha navbar, e o navbar-ligth define a cor do texto -->
    <a class="navbar-brand" href="/">
        <img src="" alt="Criado por AGabsBlue">
    </a>
</nav>